@model List<TravelTripProject.Models.Entities.Blog>

<div class="padding1">

    <h4>Memnun Kalınan Yerler</h4>
    <div class="box-left">

        @foreach (var item in Model)
        {

            <div class="bot-img">
                <img src="@item.ImageUrl" alt="" />
            </div>
            <div class="bot-desc">
                <p>@(item.Description.Length > 80 ? item.Description.Substring(0, 80) + "..." : item.Description)</p>
            </div>
            <div class="clear"></div>

        }
    </div>

    @Html.Action("PartialOurPlacesRight", "Default")

</div>
